---
const today = new Date();
---

<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded-t-xl mt-10">
  <aside>
    <p class="font-bold">
      Tomzone Blog <br/>Construit avec Astro, Tailwind & DaisyUI
    </p> 
    <p>Copyright © {today.getFullYear()} - Tous droits réservés</p>
  </aside>
</footer>
